
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  justify-content: space-between;
  padding: 92px 50px 96px 50px;
  font-size: 18px;
  line-height: 21px; 
}

.letter-none {
  letter-spacing: 0;
}

.overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgb(0 0 0 / 0.6);
}

.link {
  font-size: 18px;
  line-height: 24px;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  transition: .3s;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  color: #970097cb;
  text-decoration-color: #970097cb;
  
}

.link:active {
  text-decoration: none;
}


/* header__nav */
.header .nav {
  margin-top: 41px;
  margin-right: 36px;
}

.nav__list {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  list-style: circle;
}

.header .nav__list {
  justify-content: space-between;
  max-width: 391px;
}

.nav__item:has(.nav__link_current) {
  list-style: none;
}

.nav__link {
  line-height: 21px;
}

.nav__link_current {
  text-decoration: none;
}

.nav__link_current:hover {
  color: #000;
  cursor: default;
}

.nav__link_current:focus {
  outline: none;
  color: #000;
}

.header__logo-container {
  max-width: 148px;
  max-height: 104px;
}

/* contacts */
.contacts {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-align: left;
}

.header__contacts {
  justify-self: end;
  margin-top: 3px;
}

.contacts__address {
  margin: 0;
  text-decoration: none;
}

/* cover */
.cover {
  position: relative;
  z-index: 0;
  padding: 165px 50px 50px 50px;
  padding-top: 165px;
  padding-bottom: 50px;
  color: #fff;
  background: #000 url(../images/cover.jpg) no-repeat center / cover;
}

.cover__title {
  margin-bottom: 106px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.cover-title__item {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__text {
  display: flex;
  justify-content: space-between;
  width: 637px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-wrap: nowrap;
}

.btn {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: transparent;
  transition: all .3s;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  color: #000;
  background-color: #fff;
  transform: translateY(-5px);
}

.btn:active {
  border-color: #b6b5b5;
  background-color: #b6b5b5;
}


/* lots */
.lots {
  max-width: 1052px;
}

.main__lots {
  margin: 180px auto 0 auto;
}

.lots__title {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 25px;
  color: #fff;
}

.lots-list__link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lots-list__link:focus {
  outline: none;
}

.lot-card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 48px 40px;
  background: #000 no-repeat scroll center / cover;
  transition: transform .3s;
}

.lot-card:hover, .lot-card:focus-visible {
  transform: scale(1.05);
}

.lots-list__link:focus-visible .lot-card {
  transform: scale(1.05);
}

.lot-card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.lot-card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lot-card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lot-card__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline solid #fff;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.lot-card__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 23px;
}

/* about */

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
  column-gap: 72px;
  max-width: 1052px;
  padding: 35px 0 0 47px;
}

.main__about {
  margin: 120px auto 0 auto;
}

.about__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  min-width: 240px;
  min-height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__description-container {
  max-width: 668px;
  padding-top: 100px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about__description {
  margin-bottom: 24px;
  font-size: 20px;    
  line-height: 24px;  
}

.about__description:last-child {
  margin-bottom: 0;
}

/* footer */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-between;
  padding: 0 50px 82px 50px;
}

.main-page__footer {
  margin-top: 181px;
}

.footer__contacts {
  min-width: 260px;
}

.footer .nav__list {
  flex-direction: column;
  list-style: none;
}

.nav__item {
  text-align: center;
}

.social {
  justify-self: end;
  max-width: 240px;
}

.social-list {
  display: flex;
  column-gap: 48px;
  list-style: none;
}

.social-list__icon {
  width: 48px;
  height: 48px;
}
